{% extends 'base.html' %}
{% block title %} Food Page {% endblock %}
{% block content %} {{block.super}}

<div class="row row-cols-1 row-cols-md-3 g-4" style = "width: 60%; margin: auto">
    {% for meal in meals %}
    <div class="col"> 
        <div class="card h-100">
            <img src="{{ meal.strMealThumb }}" class="card-img-top" alt="Image">
            <div class="card-body">
                <h5 class="card-title">{{ meal.strMeal }}</h5>
                <h6>{{ meal.idMeal }}</h6> 
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
